<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/mystyles.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap-social.css" type="text/css">
    <script src="./js/angular.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngRoute']);
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="sideNav">
                <li><a href="#studentInfo"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 学生基本信息</a></li>
                <li><a href="#studentCourse"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> 课程信息</a></li>
            </ul>
        </div>
        <!-- angularJs路由控制视图 -->
        <div class="col-xs-10" ng-view></div>
    </div>
    <!-- 学生个人信息页面 -->
    <script type="text/ng-template" id="studentInfo.html">
        <div class="container course">
            <div class="Courses-header page-header">
                <h2>学生信息</h2>
                <p>以下为学生相关信息</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="name" ng-model="person.name"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="username" placeholder="{{ person.username }}" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班级：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="class_number" placeholder="{{ person.class_number }}" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="telephone" ng-model="person.telphone"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-10"><input type="email" class="form-control" name="email" ng-model="person.email"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-primary">确认修改</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-primary">修改密码</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <!-- 学生所选课程页面 -->
    <script type="text/ng-template" id="studentCourse.html">
        <div class="container courses" style = "width : 100%">
            <div class="Courses-header page-header">
                <h2>课程信息</h2>
                <p>以下为个人相关课程信息</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="course in courses">
                    <div class="thumbnail" style="height: 170px;">
                        <div class="caption">
                            <h3><a href="/studentCourse?course_id={{ course.course_offered_id }}" target="_blank" >{{ course.course_name }}</a></h3>
                            <p><small>教师：{{ course.teacher_name }}</small></p>
                            <p>{{ course.course_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>友情链接</h5>
                <ul class="list-unstyled">
                    <li><a href="#">主页</a></li>
                    <li><a href="http://balance.beihangsoft.cn/BuaaPublic/html/index.html">北航软件学院</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>地址</h5>
                <address>
                    北京海淀区<br>
                    学院路，北京航空航天大学<br>
                    软件学院<br>
                    <i class="fa fa-phone"></i>: +12345678<br>
                    <i class="fa fa-fax"></i>: +12345678<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:zhangsan@163.com">zhangsan@163.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2015 四叶草组</p>
            </div>
        </div>
    </div>
</footer>
<script>
    myApp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
                .when('/studentCourse', {
                    templateUrl: 'studentCourse.html',
                    controller: 'CourseController'
                })
                .otherwise({
                    templateUrl: 'studentInfo.html',
                    controller: 'InfoController'
                });
    }]);
    myApp.controller('InfoController', function ($scope, $http) {
        $http.get('/jStudentInfo')
                .success(function (data) {
                    console.log(data);
                    $scope.person = data;
                })
                .error(function (data ,status) {
                    console.log('发生错误！ 状态：' + status);
                });
        //$scope.person = { name: '张三', username: '13211111', class_number: '132114', password: '123456', email: '12345@qq.com', telephone: '13240309256', description: '我就是学神啊！' };
    });
    myApp.controller('CourseController', function ($scope, $http) {
        $http.get('/jStudentCourses')
                .success(function (data) {
                    console.log(data);
                    $scope.courses = data;
                })
                .error(function (data ,status) {
                    console.log('发生错误！ 状态：' + status);
                });
        /*$scope.lessons = [
            {
                id: 120,
                title: '工科高等数学',
                teacher: '王乐',
                description: '这是一门重要的课程的方法为发哦我放假哦'
            },
            {
                id: 110,
                title: 'C++',
                teacher: '杨帆',
                description: '这是宋友老师的课啊！'
            },
            {
                id: 120,
                title: '工科高等数学',
                teacher: '王乐',
                description: '这是一门重要的课程的方法为发哦我放假哦'
            },
            {
                id: 120,
                title: '工科高等数学',
                teacher: '王乐',
                description: '这是一门重要的课程的方法为发哦我放假哦'
            }
        ];*/
    })
</script>
</body>
</html>