<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/mystyles.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap-social.css" type="text/css">
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.min.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngRoute']);
    </script>
</head>
<body ng-controller="MainController">
<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="sideNav">
                <li><a href="#studentInfo"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;学生基本信息</a></li>
                <li><a href="#studentCourse"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;课程信息</a></li>
                <li><a href="#studentTeam"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;我的团队</a></li>
            </ul>
        </div>
        <!-- angularJs路由控制视图 -->
        <div class="col-xs-10" ng-view></div>
    </div>
    <!-- 学生个人信息页面 -->
    <script type="text/ng-template" id="studentInfo.html">
        <div class="container course">
            <div class="Courses-header page-header">
                <h2>学生信息</h2>
                <p>以下为学生相关信息</p>
            </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="name" ng-model="person.name"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="username" placeholder="{{ person.username }}" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班级：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="class_number" placeholder="{{ person.class_number }}" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号：</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="telephone" ng-model="person.telephone"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-10"><input type="email" class="form-control" name="email" ng-model="person.email"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-primary">确认修改</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-primary">修改密码</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <!-- 学生所选课程页面 -->
    <script type="text/ng-template" id="studentCourse.html">
        <div class="container courses" style="width : 100%">
            <div class="Courses-header page-header">
                <h2>课程信息</h2>
                <p>以下为个人相关课程信息</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="course in courses">
                    <div class="thumbnail" style="height: 170px;">
                        <div class="caption">
                            <h3><a href="/studentCourse?course_id={{ course.course_offered_id }}" target="_blank" >{{ course.course_name }}</a></h3>
                            <p><small>教师：{{ course.teacher_name }}</small></p>
                            <p>{{ course.course_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="studentTeam.html">
        <div class="container" style="width: 100%">
            <div class="page-header">
                <h2>我的团队</h2>
                <p>以下为我的团队信息</p>
            </div>
            <!-- 我的团队列表模块 -->
            <div class="row">
                <h3>我创建的团队</h3>
                <table class="table table-striped">
                    <thead>
                        <tr><th>团队名称</th><th>团队描述</th><th>团队组员序列</th><th>团队状态</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="myTeam in myTeams">
                            <td><a style="cursor: pointer" ng-click="getMyTeammateDetail($index)">{{ myTeam.name }}</a></td>
                            <td>{{ myTeam.description }}</td>
                            <td>{{ myTeam.now_teammate_str }}</td>
                            <td>{{ myTeam.state }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>我所在的团队</h3>
                <table class="table table-striped">
                    <thead>
                        <tr><th>团队名称</th><th>团队负责人</th><th>团队描述</th><th>团队组员序列</th><th>团队状态</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="myLocatedTeam in myLocatedTeams">
                            <td><a style="cursor: pointer" ng-click="getTeammateDetail($index)">{{ myLocatedTeam.name }}</a></td>
                            <td>{{ myLocatedTeam.owner }}</td>
                            <td>{{ myLocatedTeam.description }}</td>
                            <td>{{ myLocatedTeam.now_teammate_str }}</td>
                            <td>{{ myLocatedTeam.state }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h3>创建团队</h3>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>团队名称</label>
                            <input class="form-control" ng-model="createTeam.name" type="text">
                        </div>
                        <div class="form-group">
                            <label>团队描述</label>
                            <textarea rows="8" class="form-control" ng-model="createTeam.description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="applyCreateTeam()">创建团队</button>
                        </div>
                    </div>
                </div>
                <br>
                <h3>寻找团队</h3>
                <div class="row">
                    <div class="col-md-3"><input type="text" ng-model="courseToSearch" class="form-control"></div>
                    <div class="col-md-3"><button class="btn btn-primary" ng-click="searchTeams()">搜索</button></div>
                    <div class="col-md-6"><button class="btn btn-primary" ng-click="getAllTeams()">获取所有团队</button></div>
                </div>
                <br>
                <table class="table table-striped">
                    <tr ng-repeat="team in allTeams">
                        <td>{{ $index + 1 }}</td>
                        <td><a style="cursor: pointer" ng-click="goToCertainTeammateDetail($index)">{{ team.name }}</a></td>
                        <td>{{ team.owner }}</td>
                        <td>{{ team.description }}</td>
                        <td><button class="btn btn-primary btn-sm" ng-click="joinTeam(team.id, $index)">申请加入团队</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="studentTeamDetail.html">
        <div class="container" style="width: 100%">
            <!-- 查看团队成员信息模块 -->
            <div class="page-header">
                <h3>{{ team_to_operate.name }}</h3>
                <p style="text-align: right"><strong>团队负责人：</strong>{{ team_to_operate.owner }}</p>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr><th>序号</th><th>成员姓名</th><th>成员学号</th><th>成员所在班级</th><th>成员联系方式</th><th ng-show="isMyTeam">删除该成员</th><th ng-show="isMyTeam">变更为负责人</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="teammate in teammates">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ teammate.name }}</td>
                        <td>{{ teammate.username }}</td>
                        <td>{{ teammate.class_number }}</td>
                        <td>{{ teammate.telephone }}</td>
                        <td ng-show="isMyTeam"><button class="btn btn-danger btn-sm" ng-click="removeTeammate($index, teammate.username)">删除</button></td>
                        <td ng-show="isMyTeam"><button class="btn btn-warning btn-sm" ng-click="changeToOwner($index, teammate.username)">变更</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="page-header">
                <h3>已选课程</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="course in teamCourses">
                    <div class="thumbnail" style="height: 170px;">
                        <div class="caption">
                            <h3><a href="/teamCourse?course_id={{ course.course_offered_id }}" target="_blank" >{{ course.course_name }}</a></h3>
                            <p><small>教师：{{ course.teacher_name }}</small></p>
                            <p>{{ course.course_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header" ng-show="isMyTeam">
                <h3>选课列表</h3>
            </div>
            <div class="row" ng-show="isMyTeam">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="course in coursesToChoose">
                    <div class="thumbnail" style="height: 170px;">
                        <div class="caption">
                            <h3><a href="/studentCourse?course_id={{ course.course_offered_id }}" target="_blank" >{{ course.course_name }}</a></h3>
                            <p><small>教师：{{ course.teacher_name }}</small></p>
                            <p>{{ course.course_description }}</p>
                            <p style="text-align: right"><button class="btn btn-sm btn-primary" ng-click="applyJoinCourse(course.course_offered_id)">申请课程</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </script>

</div>
<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2015 四叶草组</p>
            </div>
        </div>
    </div>
</footer>
<script>
    myApp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
                .when('/studentCourse', {
                    templateUrl: 'studentCourse.html',
                    controller: 'CourseController'
                })
                .when('/studentTeam', {
                    templateUrl: 'studentTeam.html',
                    controller: 'MyTeamController'
                })
                .when('/studentTeamDetail', {
                    templateUrl: 'studentTeamDetail.html',
                    controller: 'TeamDetailController'
                })
                .otherwise({
                    templateUrl: 'studentInfo.html',
                    controller: 'InfoController'
                });
    }]);
    myApp.controller('MainController', function ($scope, $http) {
        $scope.allTeams = [];  // 存储所有团队或搜索所得团队
        // 获取团队可选课程信息
        $http.get('/jGetTeamChooseCourses')
                .success(function (data) {
                    $scope.coursesToChoose = data;
                });
        // 获取我创建的团队信息
        $http.get('/jGetOwnerTeams')
                .success(function (data) {
                    console.log(data);
                    $scope.myTeams = data;
                });
        // 获取我所在的团队信息
        $http.get('/jGetTeamsContainMe')
                .success(function (data) {
                    $scope.myLocatedTeams = data;
                });
        // 搜索团队
        $scope.searchTeams = function () {
            $http.get('/?team_name=' + $scope.coursesToChoose)
                    .success(function (data) {
                        console.log('搜索团队成功');
                        $scope.allTeams = data;
                    });
        };
        // 获取所有团队
        $scope.getAllTeams = function () {
            $http.get('/jGetAllTeams')
                    .success(function (data) {
                        console.log('所有团队获取成功');
                        $scope.allTeams = data;
                    });
        };
        // 进入我创建的团队详情页面
        $scope.getMyTeammateDetail = function (index) {
            $scope.isMyTeam = true;
            $scope.team_to_operate = $scope.myTeams[index];
            $scope.teammates = $scope.myTeams[index].teammates;
            window.location.href = '#studentTeamDetail';
        };
        // 进入我所在的团队详情页面
        $scope.getTeammateDetail = function (index) {
            $scope.isMyTeam = false;
            $scope.team_to_operate = $scope.myLocatedTeams[index];
            $scope.teammates = $scope.myLocatedTeams[index].teammates;
            window.location.href = '#studentTeamDetail';
        };
        // 查看进入某个团队详情
        $scope.goToCertainTeammateDetail = function (index) {
            $scope.isMyTeam = false;
            $scope.team_to_operate = $scope.allTeams[index];
            $scope.teammates = $scope.allTeams[index].teammates;
            window.location.href = '#studentTeamDetail';
        };
        // 从子controller中获取新创建的团队信息
        $scope.$on('$succeedCreateTeam', function (event, data) {
            $scope.myTeams.unshift(data);
        });
        // 申请加入团队
        $scope.joinTeam = function (team_id, index) {
            $http.post('/jStudentApplyTeam', { team_id: team_id })
                    .success(function (data) {
                        console.log('申请加入团队成功，团队新信息如下：');
                        $scope.allTeams.splice(index, 1);
                        $scope.myLocatedTeams.push(data);
                    })
        };
    });
    myApp.controller('InfoController', function ($scope, $http) {
        $http.get('/jStudentInfo')
                .success(function (data) {
                    console.log(data);
                    $scope.person = data;
                })
                .error(function (data ,status) {
                    console.log('发生错误！ 状态：' + status);
                });
    });
    myApp.controller('CourseController', function ($scope, $http) {
        $http.get('/jStudentCourses')
                .success(function (data) {
                    $scope.courses = data;
                })
                .error(function (data ,status) {
                    console.log('发生错误！ 状态：' + status);
                });
    });
    myApp.controller('MyTeamController', function ($scope, $http) {
        // 申请创建团队
        $scope.applyCreateTeam = function () {
            $http.post('/jStudentCreateTeam', $scope.createTeam)
                    .success(function (data) {
                        console.log('团队创建成功，团队信息如下：');
                        console.log(data);
                        $scope.$emit('$succeedCreateTeam', data);
                    });
        };
    });
    myApp.controller('TeamDetailController', function ($scope, $http) {
        // 删除某成员
        $scope.removeTeammate = function (index, username) {
            $http.post('/jStudentDeleteTeammate', { username: username, team_id: $scope.team_to_operate.id })
                    .success(function (data) {
                        console.log('删除成员成功');
                        console.log(data);
                        $scope.teammates.splice(index, 1);
                    });
        };
        // 将某成员变更为负责人
        $scope.changeToOwner = function (index, username) {
            $http.post('/jStudentChangeOwner', { username: username, team_id: $scope.team_to_operate.id })
                    .success(function (data) {
                        console.log('变更负责人成功');
                        window.location.href = '#studentTeam';
                    });
        };
        // 获取团队已选课程
        $http.post('/jTeamCourses', { team_id: $scope.team_to_operate.id })
                .success(function (data) {
                    $scope.teamCourses = data;
                });
        // 申请选课
        $scope.applyJoinCourse = function (course_offered_id) {
            console.log('team_id: ' + $scope.team_to_operate.id + ' course_offered_id: ' + course_offered_id);
            $http.post('jStudentApplyCourse', { team_id: $scope.team_to_operate.id, course_offered_id: course_offered_id })
                    .success(function (data) {
                        if (!data.undefinedStudents && !data.repeatedStudents) {
                            console.log('我判断得对不对？');
                            console.log(data);
                        } else {
                            console.log('难道我判断错了？');
                            console.log(data);
                        }
                    });
        };
    });
</script>
</body>
</html>